@import './utils.css';
@import './anims.css';

:root {
  /* Colors */
  --color-dark-bg: #1F2937;
  --color-light-text: #F9FAF8;
  --color-secondary-text: #E5E7EB;
  --color-button: #3882F6;
  --color-quote-bg: #E5E7EB;

  /* Font sizes */
  --fs-hero-main: 48px;
  --fs-hero-secondary: 18px;
  --fs-header-logo: 24px;
  --fs-info-header: 36px;
  --fs-quote: 36px;

  /* Font weights */
  --fw-extra-bold: 800;
  --fw-light: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2');
  font-style: normal;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.logo img {
  height: 24px;
  width: auto;
  display: block;
}
h1 { font-size: 48px; }
h2 { font-size: 40px; }
h3 { font-size: 32px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }

@media (max-width: 768px) {
  h1 { font-size: 36px; }
  h2 { font-size: 30px; }
  h3 { font-size: 24px; }
  h4 { font-size: 20px; }
  h5 { font-size: 18px; }
  h6 { font-size: 16px; }
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 10px;
}

header {
  background-color: var(--color-dark-bg);
  color: var(--color-light-text);
  padding: 20px 30px;
  position: sticky;
  top: 0;
  z-index: 999;
}

footer {
  background-color: var(--color-dark-bg);
  color: var(--color-light-text);
  text-align: center;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

button, .btn {
  background: var(--color-button);
  padding: 10px 30px;
  border-radius: 20px;
  color: white;
  border: 0;
  font-weight: bold;
  cursor: pointer;
}

button:hover, .btn:hover {
  background: #2a6ad1;
}

button.outline, .btn.outline {
  background: transparent;
  border: 2px solid white ;
  color: white;
}


nav .menu {
    list-style: none;
    gap: 20px;
    color: var(--color-light-text);
}

nav .menu a {
    text-decoration: none;
    color: var(--color-light-text);
}

nav .menu a.active {
    text-decoration: none;
    color: var(--color-button);
}

nav .menu a:hover {
    text-decoration: underline;
    color: var(--color-button);
}

nav .menu li {
    padding: 10px 0;
}

/* Mobile Nav */
nav {
  position: relative;
}

#menu-toggle {
  display: none;
}

.hamburger {
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}

nav .menu {
  padding: 0;
  margin: 0;
  display: none;
}

nav #menu-toggle:checked ~ .menu {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 150%;
  background: #0000005c;
  backdrop-filter: blur(20px);
  padding: 30px;
  z-index: 999;
  border-radius: 20px;
}

@media (min-width: 769px) {
  nav .menu {
    display: flex;
    gap: 20px;
  }
  .hamburger {
    display: none;
  }

  nav .menu li {
  padding: 0px;

}
}

section {
  padding: 80px 0;
  overflow: hidden; /* Temporary fix for overflow issues */
}


.call-to-action {
  background-color: var(--color-button);
  color: white;
  text-align: center;
  padding: 20px 50px;
  border-radius: 10px;
  margin: 40px auto;
}

.call-to-action .container {
  padding: 0px 10%;
}


.quotes {
  background-color: var(--color-quote-bg);
  margin: 40px 0;
}

.quotes p {
  font-size: var(--fs-quote);
  font-style: italic;
  text-align: center;
  font-weight: var(--fw-light);
}

.hero {
  background-color: var(--color-dark-bg);
  color: var(--color-light-text);
}

.hero img {
  width: 380px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.hero h1{
  font-size: var(--fs-hero-main);
  font-weight: var(--fw-extra-bold);
  margin-bottom: 20px;  
}

.hero__about {
 background-image: url('../images/about.jpg');
  background-position: center;
  background-attachment: fixed;
}

.hero__shop {
  background-image: url('../images/mainbanner.webp');
  background-attachment: fixed;
  background-position: 0% 75%;
}

.hero__shop input[type="text"] {
  padding: 20px;
  width: 100%;
  border-radius: 30px;
  border: 0;
  margin-top: 30px;
  font-size: 1rem;
  background: #fff8;
  transform: scale(1);
  transition: all 0.3s ease;
}

.hero__shop input[type="text"]:focus {
  outline: none;
  background: #fff;
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.product-card {
  flex: 0 0 200px;
  text-align: center;
}

.product-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card a {
    text-decoration: none;
}

.product-quantity {
  padding: 7px;
  border-radius: 14px;
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  .product-card {
    flex: 0 0 calc(50% - 15px); 
  }
}

.product-price {
  color: var(--color-button);
  font-size: 1.2rem;
  margin: 10px 0;
}
.faq-item {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
}

.faq-item input {
  display: none;
}

.faq-title {
  display: block;
  padding: 14px;
  cursor: pointer;
  font-weight: 600;
  background: #f3f3f3;
}

.faq-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 14px;
}

.faq-item input:checked ~ .faq-content {
  max-height: 300px;
  padding: 14px;
}

.about__story {
  text-align: center;
  background: url(../images/pattern.webp);
  background-size: 20%;
}